@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap");
body{
  font-family: 'Nunito',sans-serif;
  font-size: 14px;
  font-weight: 550;
  max-width: 1348px;
}
.logo-img{
  max-width: 120px;
  object-fit: contain;
}
.carousel-inner img{
  height: 315px;
}
.carousel-inner.carousel-item .active img{
  height: 360px;
}
.carousel-caption h1{
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 800;
}
.carousel-item .carousel-caption .text-white h1{
  font-size: 30px;
  margin-bottom: 25px;
}
/* .about-image{
  margin-top: -154px;
} */
.Get-Quote button{
  width: 120px;
  height: 41px;
  border-radius: 5px;
  border: none;
  background-color: orange;
  color:white
}
.icon-bar {
  position: fixed;
  top: 40%;
  left: 0px;
  z-index: 99;
}
.icon-bar div {
  display: block;
  text-align: center;
  padding: 8px 15px;
  transition: all 0.3s ease;
  color: white;
  border: 1px solid #fff;
  font-size: 15px;
  border-radius: 50px;
  margin-top: 20px;
}
.phone{
  background-color: #0000ff;
}
.whatapp{
  background-color: #008000;
}
.message{
  background-color: #ff0000;
}
.btn-link{
  background-color: #f68b1f;
  width: 160px;
  color: white;
  border-radius: 5px;
}




@media(min-width: 236px){
    .logo-img{
        max-width: 120px;
        object-fit: contain;
    }
    .carousel-inner img{
      height: 345px;
    }
    .main-banner-content{
      position: relative;
      bottom: 255px;
      text-align: center;
    }
    .main-banner-content h1{
      font-size: 27px;
      font-weight: 700;
      margin-bottom: 25px;

    }
    .carousel-indicators{
      position: absolute;
      bottom: 180px;
    }
    .about-image img{
      max-width: 205px;
    }
    .about-content .sub-title{
      font-size: 15px;
      color: #f68b1f;
      font-weight: 700;
      
      
    }
    .about-content h2{
      font-weight: 700;
      margin-top: 20px;
    }
    .about-content{
      text-align: center;
      margin-top: 30px;
    }
    .about-content p{
      color: #4b5280;
      font-weight: 500;
    }
    .sub-list{
      /* display: flex; */
      text-align: center;
      font-size: 17px;
      /* gap: 70px; */
     }
     .sub-list .list h4{
      position: absolute;
      top: 227px;
      left: 280px;
    }
    .sub-list .list h3{
      position: absolute;
      top: 290px;
      left: 280px;
      font-size: 33px;
      font-weight: 800;
    }
    .sub-list .list h1{
      position: absolute;
      top: 366px;
      left: 287px;
      font-size: 36px;
      font-weight: 800;
    }
    .fa-arrow-up-right-dots{
      font-size: 30px;
     }
     .circle-box{
      margin-top: 53px;
      display: flex;
      justify-content: center;
    }
    .circle-box button{
      width: 70px;
      height: 70px;
      border-radius: 70px;
      border: none;
      background-color: antiquewhite;
    }
    .card{
      background-color: #1b1464;
      width: 200px;
      margin-top: 40px;
      
    }
    .card-title{
      text-align: center;
      color: white;
    }
    .card-body p{
      color: white;
      text-align: center;
    }
    .small-title{
      text-align: center;
      color: orange;
      font-size: 20px;
    }
    .services{
      text-align: center;
      font-size: 30px;
    }
    .device p{
      position: relative;
      top: 26px;
      right: 42px;
      text-align: initial;
    }
    .device h1{
      font-size: 19px;
      margin-bottom: 65px;
      margin-left: 15px;
      position: relative;
      left: -5px;
    }




    
}
@media(min-width: 576px){
    .logo-img{
        max-width: 150px;
        object-fit: contain;
    }
    .main-banner-content{
      position: relative;
      bottom: 242px;
      text-align: center;
    }
    .main-banner-content h1{
      font-size: 38px;
      font-weight: 700;
    }
    .main-banner-content h1{
      position: relative;
      top: 0px;
      text-align: center;
    }
    .carousel-indicators{
      position: absolute;
      bottom: 180px;
    }
    .carousel-inner img {
      height: 415px;
    }
    .about-image img{
      max-width: 510px;
    }
    .about-content .sub-title{
      font-size: 15px;
      color: #f68b1f;
      font-weight: 700;
      
      
    }
    .about-content h2{
      font-weight: 700;
      margin-top: 20px;
    }
    .about-content{
      text-align: center;
      margin-top: 30px;
    }
    .about-content p{
      color: #4b5280;
      font-weight: 500;
    }
    .sub-list li .list h4{
      font-size: 30px;
      font-weight: 800;
    }
    .sub-list{
      display: flex;
      text-align: initial;
      font-size: 17px;
      gap: 70px;
     }
     .sub-list .list h4{
      position: absolute;
      top: 220px;
      left: 100px;
    }
    .sub-list .list h3{
      position: absolute;
      top: 220px;
      left: 260px;
      font-size: 33px;
      font-weight: 800;
    }
    .sub-list .list h1{
      position: absolute;
      top: 220px;
      left: 450px;
      font-size: 36px;
      font-weight: 800;
    }
    .fa-arrow-up-right-dots{
      font-size: 30px;
     }
     .circle-box{
      margin-top: 53px;
      display: flex;
      justify-content: center;
    }
    .circle-box button{
      width: 80px;
      height: 80px;
      border-radius: 51px;
      border: none;
      background-color: antiquewhite;
    }
    .card{
      background-color: #1b1464;
      width: 400px;
    }
    .card-title{
      text-align: center;
      color: white;
    }
    .card-body p{
      color: white;
      text-align: center;
    }
    .small-title{
      text-align: center;
      color: orange;
      font-size: 20px;
    }
    .services{
      text-align: center;
      font-size: 30px;
    }
    .device p{
      position: relative;
      top: 28px;
      right: 42px;
    }
    .device h1{
      font-size: 20px;
    }


}
@media(min-width: 768px){
    .logo-img{
        max-width: 200px;
        object-fit: contain;
    }
    .main-banner-content{
      position: relative;
      bottom: 242px;
      text-align: center;
    }
    .main-banner-content h1{
      font-size: 38px;
      font-weight: 700;
    }
    .main-banner-content h1{
      position: relative;
      top: 0px;
      text-align: center;
    }
    .carousel-indicators{
      position: absolute;
      bottom: 170px;
    }
    .carousel-inner img {
      height: 415px;
    }
    .about-content .sub-title{
      font-size: 18px;
      color: #f68b1f;
      font-weight: 700;
      
      
    }
    .about-content h2{
      font-weight: 700;
      margin-top: 20px;
    }
    .about-content{
      text-align: center;
      margin-top: 30px;
    }
    .about-content p{
      color: #4b5280;
      font-weight: 500;
      font-size: 17px;
    }
    .sub-list li .list h4{
      font-size: 35px;
      font-weight: 800;
    }
    .sub-list .list h4{
      position: absolute;
      top: 212px;
      left: 100px;
    }
    .sub-list .list h3{
      position: absolute;
      top: 215px;
      left: 320px;
      font-size: 33px;
      font-weight: 800;
    }
    .sub-list .list h1{
      position: absolute;
      top: 213px;
      left: 590px;
      font-size: 36px;
      font-weight: 800;
    }
    .fa-arrow-up-right-dots{
      font-size: 30px;
     }
     .sub-list{
      display: flex;
      text-align: initial;
      font-size: 21px;
      gap: 70px;
     }
     .circle-box{
      margin-top: 53px;
      display: flex;
      justify-content: center;
    }
    .circle-box button{
      width: 80px;
      height: 80px;
      border-radius: 51px;
      border: none;
      background-color: antiquewhite;
    }
    .card{
      background-color: #1b1464;
      width: 317px;
    }
    .card-title{
      text-align: center;
      color: white;
    }
    .card-body p{
      color: white;
      text-align: center;
    }
    .small-title{
      text-align: center;
      color: orange;
      font-size: 20px;
    }
    .services{
      text-align: center;
      font-size: 30px;
    }
    .device p{
      position: relative;
      top: 28px;
      right: 42px;
    }
    .device h1{
      font-size: 20px;
    }


}
@media(min-width: 992px){
    .logo-img{
        max-width: 200px;
        object-fit: contain;
    }
    .main-banner-content{
      position: relative;
      left: 600px;
      bottom: 300px;
      text-align: initial;
      text-align: initial;
    }
    .main-banner-content h1{
      font-size: 42px;
      font-weight: 800;
      max-width: 453px;
      text-align: initial;
    }
    .carousel-caption {
      position: absolute;
      right: 8%;
      bottom: 20px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
    }
    .carousel-indicators{
      position: absolute;
      bottom: 250px;
    }
    .carousel-inner img {
      height: 415px;
    }
    .container {
      max-width: 1060px;
    }
    .about-content .sub-title{
      font-size: 15px;
      color: #f68b1f;
      font-weight: 700;
      
      
    }
    .about-content h2{
      font-weight: 700;
      margin-top: 20px;
    }
    .about-content{
      text-align: initial;
      margin-top: 30px;
    }
    .about-content p{
      color: #4b5280;
      font-weight: 500;
    }
    .sub-list{
      display: flex;
    }
    .sub-list li h4{
      font-size: 35px;
      font-weight: 800;
    }
    .sub-list .list h4{
      position: absolute;
      top: 268px;
      left: 102px;
    }
    .sub-list .list h3{
      position: absolute;
      top: 269px;
      left: 245px;
      font-size: 33px;
      font-weight: 800;
    }
    .sub-list .list h1{
      position: absolute;
      top: 268px;
      left: 413px;
      font-size: 36px;
      font-weight: 800;
    }

     .fa-arrow-up-right-dots{
      font-size: 40px;
     }
     .circle-box{
      margin-top: 53px;
      display: flex;
      justify-content: center;
    }
    .circle-box button{
      width: 80px;
      height: 80px;
      border-radius: 51px;
      border: none;
      background-color: antiquewhite;
    }
    .card{
      background-color: #1b1464;
      width: 300px;
    }
    .card-title{
      text-align: center;
      color: white;
    }
    .card-body p{
      color: white;
      text-align: center;
    }
    .small-title{
      text-align: center;
      color: orange;
      font-size: 20px;
    }
    .services{
      text-align: center;
      font-size: 30px;
    }
    .device p{
      position: relative;
      top: 28px;
      right: 42px;
    }
    .device h1{
      font-size: 20px;
    }
  
    
    /* .about-image{
      margin-top: -238px;
    } */

  

}
@media(min-width: 1200px){
    .logo-img{
        max-width: 250px;
        object-fit: contain;
    }
    .carousel-inner img{
      height: 412px;
    }
    .main-banner-content{
      position: relative;
      left: 720px;
      bottom: 397px;
      text-align: initial;
    }
    .main-banner-content h1{
      font-size: 55px;
      font-weight: 800;
      max-width: 468px;
    }
    .carousel-caption {
      position: absolute;
      right: 8%;
      bottom: 20px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
    }
    .carousel-indicators{
      position: absolute;
      bottom: 300px;
    }
    .about-content .sub-title{
      font-size: 16px;
      color: #f68b1f;
      font-weight: 700;
      
      
    }
    .about-content h2{
      font-weight: 700;
      margin-top: 5px;
      font-size: 43px;
    }
    .about-content{
      text-align: initial;
      margin-top: 15px;
      margin-left: 35px;
    }
    .about-content p{
      color: #4b5280;
      font-weight: 500;
      font-size: 17px;
    }
    .about-image img {
      max-width: 580px;
    }
    .sub-list li p{
      font-size: 20px;
      font-weight: 600;
    }
    .sub-list li h4{
      font-size: 35px;
      font-weight: 800;
    }
    .sub-list{
      display: flex;
    }
    .sub-list .list h4{
      position: absolute;
      top: 327px;
      left: 135px;
    }
    .sub-list .list h3{
      position: absolute;
      top: 327px;
      left: 318px;
      font-size: 33px;
      font-weight: 800;
    }
    .sub-list .list h1{
      position: absolute;
      top: 327px;
      left: 533px;
      font-size: 36px;
      font-weight: 800;
    }
    /* .sub-list h4{
      position: absolute;
      top: 210px;
      left: 126px;
    }
    .sub-list h4{
      position: absolute;
      top: 210px;
      left: 126px;
    } */
    /* .sub-list .list-3 h4{
      position: absolute;
      top: 210px;
      left: 126px;
    } */

    /* .about-image{
      margin-top: -285px;
    } */
    .btn-1{
      position: relative;
      left: 36px;
      width: 180px;
      height: 47px;
      border: none;
      border-radius: 5px;
      background-color: #1b1464;
      z-index: 1;
    }
    .circle{
      position: absolute;
      width: 55px;
      height: 47px;
      border-radius: 50px;
      background-color: #f68b1f;
      left: 0;
      top: 0px;
      z-index: 2;
      transition: width 2s;
    }
    

    @media(min-width: 1348px){
      .logo-img{
          max-width: 250px;
          object-fit: contain;
      }
      .carousel-inner .main-banner-content{
        position: relative;
        left: 760px;
        bottom: 410px;
        text-align: initial;
      }
      .carousel-inner .main-banner-content h1{
        font-size: 56px;
        font-weight: 800;
      }
      .carousel-caption {
        position: absolute;
        right: 8%;
        bottom: 20px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
      }
      .about-image img {
        max-width: 580px;
      }
    }


}
