@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap");
body{
  font-family: 'Nunito',sans-serif;
  font-size: 14px;
  font-weight: 550;
  max-width: 1348px;
}
.logo-img{
  max-width: 120px;
  object-fit: contain;
}
.carousel-inner img{
  height: 315px;
}
.carousel-inner.carousel-item .active img{
  height: 360px;
}
.carousel-caption h1{
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 800;
}
.carousel-item .carousel-caption .text-white h1{
  font-size: 30px;
  margin-bottom: 25px;
}
/* .about-image{
  margin-top: -154px;
} */
.Get-Quote button{
  width: 136px;
  height: 46px;
  border-radius: 5px;
  border: none;
  background-color: #f68b1f;
  color:white;
  font-weight: 800;
  font-size: 15px;
}
.icon-bar {
  position: fixed;
  top: 40%;
  left: 0px;
  z-index: 99;
}
.icon-bar div {
  display: block;
  text-align: center;
  padding: 8px 15px;
  transition: all 0.3s ease;
  color: white;
  border: 1px solid #fff;
  font-size: 15px;
  border-radius: 50px;
  margin-top: 20px;
}
.phone{
  background-color: #0000ff;
}
.whatapp{
  background-color: #008000;
}
.message{
  background-color: #ff0000;
}
.btn-link{
  background-color: #f68b1f;
  width: 160px;
  color: white;
  border-radius: 5px;
}
.sub-list li{
  display: flex;
}
.btn-primary{
  width: 32px;
  height: 32px;
  border: none;
}
.fa-facebook-f {
  font-size: 15px;
  position: relative;
  bottom: 2px;
  right: -0.5px;
}
.fa-youtube{
  font-size: 15px;
  position: relative;
  bottom: 1px;
  right: 3px;
}
.fa-instagram{
  font-size: 15px;
  position: relative;
  bottom: 1px;
  right: 2px;
}
.fa-linkedin-in{
  font-size: 15px;
  position: relative;
  bottom: 1px;
  right: 2px;
}
.dropdown-item{
  font-size: 16.5px;
  font-weight: 700;
}





@media(min-width: 236px){
    .logo-img{
        max-width: 120px;
        object-fit: contain;
    }
    .carousel-inner img{
      height: 345px;
    }
    .main-banner-content{
      position: relative;
      bottom: 255px;
      text-align: center;
    }
    .main-banner-content h1{
      font-size: 27px;
      font-weight: 700;
      margin-bottom: 25px;

    }
    .carousel-indicators{
      position: absolute;
      bottom: 180px;
    }
    .about-image img{
      max-width: 205px;
      margin-top: 96px;
    }
    .about-content .sub-title{
      font-size: 15px;
      color: #f68b1f;
      font-weight: 700;
      
      
    }
    .about-content h2{
      font-weight: 700;
      margin-top: 20px;
    }
    .about-content{
      text-align: center;
      margin-top: 30px;
    }
    .about-content p{
      color: #4b5280;
      font-weight: 500;
      font-size: 16px;
    }
    .sub-list{
      /* display: flex; */
      text-align: center;
      font-size: 17px;
      /* gap: 70px; */
     }
     .sub-list .list h4{
      position: absolute;
      top: 227px;
      left: 280px;
    }
    .sub-list .list h3{
      position: absolute;
      top: 290px;
      left: 280px;
      font-size: 33px;
      font-weight: 800;
    }
    .sub-list .list h1{
      position: absolute;
      top: 366px;
      left: 287px;
      font-size: 36px;
      font-weight: 800;
    }
    .fa-arrow-up-right-dots{
      font-size: 30px;
     }
     .circle-box{
      margin-top: 53px;
      display: flex;
      justify-content: center;
    }
    .circle-box button{
      width: 70px;
      height: 70px;
      border-radius: 70px;
      border: none;
      background-color: antiquewhite;
    }
    .card{
      background-color: #1b1464;
      width: 200px;
      margin-top: 40px;
      
    }
    .card-title{
      text-align: center;
      color: white;
    }
    .card-body p{
      color: white;
      text-align: center;
    }
    .small-title{
      text-align: center;
      color: orange;
      font-size: 15px;
    }
    .services{
      text-align: center;
      font-size: 30px;
    }
    .device p{
      position: relative;
      top: 26px;
      right: 42px;
      text-align: initial;
    }
    .device h1{
      font-size: 19px;
      margin-bottom: 65px;
      margin-left: 15px;
      position: relative;
      left: -5px;
    }
    .btn-1{
      position: relative;
      width: 180px;
      height: 45px;
      border: none;
      left: -4px;
      /* border: 2px solid #000; */
      /* border-radius: 50px; */
      z-index: 1;
    }
    .circle{
      position: absolute;
      width: 45px;
      height: 44px;
      background: #f68b1f;
      border-radius: 5px;
      left: 4px;
      top: 2px;
      z-index: 2;
      transition: .5s cubic-bezier(1 , 0 , .8 , 1);
    }
    .btn-1:hover .circle{
      width: 160px;
    }
    .fa-arrow-right{
      position: relative;
      top: 10px;
      font-size: 20px;
    }
    .text{
      position: absolute;
      top: -2px;
      left: 59px;
      line-height: 50px;
      z-index: 3;
      color: #f68b1f;
      font-size: 18px;
      font-weight: 700;
      /* transition: 5s; */

    }
    .btn-1:hover .text{
      color: white;
    }
    .text-white-1{
      height: 1126px;
    }
    .testimonials-content h2{
      font-size:25px;
      font-weight: 800;
      width: 140px;
      text-align: center;
      margin-left: -25px;
      margin-top: 10px;
    }
    .testimonials-page .row{
      margin-left: 13px;
    }
    .testimonials-image{
      display: inline-block;
    }
    .carousel-inner-1 p{
      width: 221px;
      font-size: 15.5px;
      margin-left: -66px;
      text-align: center;
    }
    .device img{
      max-width: 52px;
      border-radius: 70px;
      position: relative;
      left: -57px;
    }
    .device h1{
      position: relative;
      top: 10px;
      left: -54px;
      font-weight: 800;
    }
    .device p {
      position: relative;
      top: 18px;
      right: 27px;
      text-align: initial;
    }
    .small-title-1{
      text-align: center;
      color: #f68b1f;
      font-size: 13px;
      font-weight: 700;
      margin-left: 0px;
    }
    .small-title{
      text-align: center;
      color: #f68b1f;
      font-size: 13px;
      font-weight: 700;
      margin-left: 3px;
    }
    .services{
      text-align: center;
      font-size: 30px;
    }
    .services h1{
      font-size: 28px;
      font-weight: 800;
      margin-top: 10px;
    }
    .form-control{
      height: 55px;
      width: 535px;
    }
    .name{
      margin-top: 145px; 
      gap: 10px;

    }
    .get-start h1{
      position: relative;
      text-align: center;
      font-size: 1.75rem;
      top: 140px;
      left: 30px;
      font-weight: 800;
    }
    .btn-danger{
      position: absolute;
      left: 345px;
      margin-top: 15px;
      width: 135px;
    }
    .content{
      font-size: 25px;
      font-weight: 800;
    }
    .paragraph p{
      font-size: 16px;
      text-align: justify;
      line-height: 1.8rem;
      font-weight: 400;
    }
    .paragraph-1 p{
      font-size: 16px;
    }
    .text-white-1{
      height: 1500px;
      color: white;
    }




    
}
@media(min-width: 576px){
    .logo-img{
        max-width: 150px;
        object-fit: contain;
    }
    .main-banner-content{
      position: relative;
      bottom: 242px;
      text-align: center;
    }
    .main-banner-content h1{
      font-size: 38px;
      font-weight: 700;
    }
    .main-banner-content h1{
      position: relative;
      top: 0px;
      text-align: center;
    }
    .carousel-indicators{
      position: absolute;
      bottom: 180px;
    }
    .carousel-inner img {
      height: 415px;
    }
    .about-image img{
      max-width: 510px;
    }
    .about-content .sub-title{
      font-size: 15px;
      color: #f68b1f;
      font-weight: 700;
      
      
    }
    .about-content h2{
      font-weight: 700;
      margin-top: 20px;
    }
    .about-content{
      text-align: center;
      margin-top: 30px;
    }
    .about-content p{
      color: #4b5280;
      font-weight: 500;
    }
    .sub-list li .list h4{
      font-size: 30px;
      font-weight: 800;
    }
    .sub-list{
      display: flex;
      text-align: initial;
      font-size: 17px;
      gap: 70px;
     }
     .sub-list .list h4{
      position: absolute;
      top: 220px;
      left: 100px;
    }
    .sub-list .list h3{
      position: absolute;
      top: 220px;
      left: 260px;
      font-size: 33px;
      font-weight: 800;
    }
    .sub-list .list h1{
      position: absolute;
      top: 220px;
      left: 450px;
      font-size: 36px;
      font-weight: 800;
    }
    .fa-arrow-up-right-dots{
      font-size: 30px;
     }
     .circle-box{
      margin-top: 53px;
      display: flex;
      justify-content: center;
    }
    .circle-box button{
      width: 80px;
      height: 80px;
      border-radius: 51px;
      border: none;
      background-color: antiquewhite;
    }
    .card{
      background-color: #1b1464;
      width: 241px;
    }
    .card-title{
      text-align: center;
      color: white;
    }
    .card-body p{
      color: white;
      text-align: center;
    }
    .small-title-1{
      text-align: center;
      color: #f68b1f;
      font-size: 13px;
      font-weight: 700;
      margin-left: 0px;
    }
    .small-title{
      text-align: center;
      color: #f68b1f;
      font-size: 13px;
      font-weight: 700;
      margin-left: 170px;
    }
    .services{
      text-align: center;
      font-size: 30px;
    }
    .device p{
      position: relative;
      top: 28px;
      right: 42px;
    }
    .device h1{
      font-size: 20px;
    }
    .btn-1{
      position: relative;
      width: 210px;
      height: 45px;
      border: none;
      left: 10px;
      /* border: 2px solid #000; */
      /* border-radius: 50px; */
      z-index: 1;
    }
    .circle{
      position: absolute;
      width: 45px;
      height: 44px;
      background: #f68b1f;
      border-radius: 5px;
      left: 4px;
      top: 2px;
      z-index: 2;
      transition: .5s cubic-bezier(1 , 0 , .8 , 1);
    }
    .btn-1:hover .circle{
      width: 200px;
    }
    .fa-arrow-right{
      position: relative;
      top: 10px;
      font-size: 20px;
    }
    .text{
      position: absolute;
      top: -2px;
      left: 70px;
      line-height: 50px;
      z-index: 3;
      color: #f68b1f;
      font-size: 18px;
      font-weight: 700;
      /* transition: 5s; */

    }
    .btn-1:hover .text{
      color: white;
    }
    .services h1{
      font-size: 28px;
      font-weight: 800;
    }
    .testimonials-content h2{
      font-size: 28px;
      font-weight: 800;
      width: 450px;
      margin-left: 0px;
      margin-top: 10px;
    }
    .testimonials-image{
      display: inline-block;
    }
    .carousel-inner-1 p{
      width: 515px;
      font-size: 14px;
      margin-left: -40px;
      line-height: 1.8;
    }
    .device img{
      max-width: 70px;
      border-radius: 70px;
      margin-left: 170px;
    }
    .device h1{
      position: relative;
      top: 10px;
      font-weight: 800;
    }
    .device p {
      position: relative;
      top: 13px;
      right: 53px;
    }
    .form-control{
      height: 55px;
      width: 535px;
    }
    .name{
      margin-top: 145px; 
      gap: 10px;

    }
    .get-start h1{
      position: relative;
      text-align: center;
      font-size: 1.75rem;
      top: 140px;
      left: 30px;
      font-weight: 800;
    }
    .btn-danger{
      position: absolute;
      left: 345px;
      margin-top: 15px;
      width: 135px;
    }
    .content{
      font-size: 25px;
      font-weight: 800;
    }
    .paragraph p{
      font-size: 16px;
      text-align: justify;
      line-height: 1.8rem;
      font-weight: 400;
    }
    .paragraph-1 p{
      font-size: 16px;
    }
    .about-image img {
      /* max-width: 580px; */
      margin-top: 102px;
    }
    .text-white-1{
      height: 1180px;
      color: white;
    }


}
@media(min-width: 768px){
    .logo-img{
        max-width: 200px;
        object-fit: contain;
    }
    .main-banner-content{
      position: relative;
      bottom: 242px;
      text-align: center;
    }
    .main-banner-content h1{
      font-size: 38px;
      font-weight: 700;
    }
    .main-banner-content h1{
      position: relative;
      top: 0px;
      text-align: center;
    }
    .carousel-indicators{
      position: absolute;
      bottom: 170px;
    }
    .carousel-inner img {
      height: 415px;
    }
    .about-content .sub-title{
      font-size: 18px;
      color: #f68b1f;
      font-weight: 700;
      
      
    }
    .about-content h2{
      font-weight: 700;
      margin-top: 20px;
    }
    .about-content{
      text-align: center;
      margin-top: 30px;
    }
    .about-content p{
      color: #4b5280;
      font-weight: 500;
      font-size: 17px;
    }
    .sub-list li .list h4{
      font-size: 35px;
      font-weight: 800;
    }
    .sub-list .list h4{
      position: absolute;
      top: 212px;
      left: 100px;
    }
    .sub-list .list h3{
      position: absolute;
      top: 215px;
      left: 320px;
      font-size: 33px;
      font-weight: 800;
    }
    .sub-list .list h1{
      position: absolute;
      top: 213px;
      left: 590px;
      font-size: 36px;
      font-weight: 800;
    }
    .fa-arrow-up-right-dots{
      font-size: 30px;
     }
     .sub-list{
      display: flex;
      text-align: initial;
      font-size: 21px;
      gap: 70px;
     }
     .circle-box{
      margin-top: 53px;
      display: flex;
      justify-content: center;
    }
    .circle-box button{
      width: 80px;
      height: 80px;
      border-radius: 51px;
      border: none;
      background-color: antiquewhite;
    }
    .services h1{
      font-size: 35px;
      font-weight: 800;
      margin-top: 10px;
    }
    .card{
      background-color: #1b1464;
      width: 338px;
    }
    .card-title{
      text-align: center;
      color: white;
    }
    .card-body p{
      color: white;
      text-align: center;
    }
    .small-title{
      text-align: center;
      color: #f68b1f;
      font-size: 14.5px;
      margin-left: -20px;
      font-weight: 700;
    }
    .services{
      text-align: center;
      font-size: 30px;
    }
    .device p{
      position: relative;
      top: 28px;
      right: 42px;
    }
    .device h1{
      font-size: 20px;
    }
    .btn-1{
      position: relative;
      width: 210px;
      height: 45px;
      border: none;
      left: 65px;
      /* border: 2px solid #000; */
      /* border-radius: 50px; */
      z-index: 1;
    }
    .circle{
      position: absolute;
      width: 45px;
      height: 44px;
      background: #f68b1f;
      border-radius: 5px;
      left: 4px;
      top: 2px;
      z-index: 2;
      transition: .5s cubic-bezier(1 , 0 , .8 , 1);
    }
    .btn-1:hover .circle{
      width: 200px;
    }
    .fa-arrow-right{
      position: relative;
      top: 10px;
      font-size: 20px;
    }
    .text{
      position: absolute;
      top: -2px;
      left: 70px;
      line-height: 50px;
      z-index: 3;
      color: #f68b1f;
      font-size: 18px;
      font-weight: 700;
      /* transition: 5s; */

    }
    .btn-1:hover .text{
      color: white;
    }
    .testimonials-content h2{
      font-size: 35px;
      font-weight: 800;
      width: 575px;
      margin-left: -56px;
      margin-top: 12px;
    }
    .testimonials-image{
      display: inline-block;
    }
    .carousel-inner-1 p{
      width: 690px;
      font-size: 15px;
      text-align: initial;
      margin-left: -22px;
      line-height: 1.8rem;

    }
    .device img{
      max-width: 70px;
      border-radius: 70px;
      margin-left: 35px;
    }
    .device h1{
      position: relative;
      top: 10px;
      font-weight: 800;
    }
    .device p {
      position: relative;
      top: 13px;
      right: 72px;
    }
    .form-control{
      height: 52px;
      width: 175px;
    }
    .name{
      margin-top: 145px; 
      gap: 85px;
    }
    .get-start h1{
      position: relative;
      text-align: center;
      font-size: 1.75rem;
      top: 140px;
      left: 30px;
      font-weight: 800;
    }
    .btn-danger{
      position: absolute;
      left: 345px;
      margin-top: 15px;
      width: 135px;
    }
    .content{
      font-size: 25px;
      font-weight: 800;
    }
    .paragraph p{
      font-size: 16px;
      text-align: justify;
      line-height: 1.8rem;
      font-weight: 400;
    }
    .paragraph-1 p{
      font-size: 16px;
    }
    .about-image img {
      /* max-width: 580px; */
      margin-top: 102px;
    }
    .text-white-1{
      height: 650px;
      color: white;
    }


}
@media(min-width: 992px){
    .logo-img{
        max-width: 200px;
        object-fit: contain;
    }
    .main-banner-content{
      position: relative;
      left: 600px;
      bottom: 300px;
      text-align: initial;
      text-align: initial;
    }
    .main-banner-content h1{
      font-size: 42px;
      font-weight: 800;
      max-width: 453px;
      text-align: initial;
    }
    .carousel-caption {
      position: absolute;
      right: 8%;
      bottom: 20px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
    }
    .carousel-indicators{
      position: absolute;
      bottom: 250px;
    }
    .carousel-inner img {
      height: 415px;
    }
    .container {
      max-width: 1060px;
    }
    .about-content .sub-title{
      font-size: 15px;
      color: #f68b1f;
      font-weight: 700;
      
      
    }
    .about-content h2{
      font-weight: 700;
      margin-top: 20px;
    }
    .about-content{
      text-align: initial;
      margin-top: 30px;
    }
    .about-content p{
      color: #4b5280;
      font-weight: 500;
    }
    .sub-list{
      display: flex;
    }
    .sub-list li h4{
      font-size: 35px;
      font-weight: 800;
    }
    .sub-list .list h4{
      position: absolute;
      top: 268px;
      left: 102px;
    }
    .sub-list .list h3{
      position: absolute;
      top: 269px;
      left: 245px;
      font-size: 33px;
      font-weight: 800;
    }
    .sub-list .list h1{
      position: absolute;
      top: 268px;
      left: 413px;
      font-size: 36px;
      font-weight: 800;
    }

     .fa-arrow-up-right-dots{
      font-size: 40px;
     }
     .circle-box{
      margin-top: 53px;
      display: flex;
      justify-content: center;
    }
    .circle-box button{
      width: 80px;
      height: 80px;
      border-radius: 51px;
      border: none;
      background-color: antiquewhite;
    }
    .card{
      background-color: #1b1464;
      width: 300px;
    }
    .card-title{
      text-align: center;
      color: white;
    }
    .card-body p{
      color: white;
      text-align: justify;
      font-size: 17px;
    }
    .small-title{
      text-align: center;
      color: #f68b1f;
      font-size: 15.5PX;
      font-weight: 700;
      }
    .services h1{
      text-align: center;
      font-size: 42px;
      font-weight: 800;
    }
    .device p{
      position: relative;
      top: 28px;
      right: 42px;
    }
    .device h1{
      font-size: 20px;
    }
    .btn-1{
      position: relative;
      width: 210px;
      height: 45px;
      border: none;
      left: 65px;
      /* border: 2px solid #000; */
      /* border-radius: 50px; */
      z-index: 1;
    }
    .circle{
      position: absolute;
      width: 45px;
      height: 44px;
      background: #f68b1f;
      border-radius: 5px;
      left: 4px;
      top: 2px;
      z-index: 2;
      transition: .5s cubic-bezier(1 , 0 , .8 , 1);
    }
    .btn-1:hover .circle{
      width: 200px;
    }
    .fa-arrow-right{
      position: relative;
      top: 10px;
      font-size: 20px;
    }
    .text{
      position: absolute;
      top: -2px;
      left: 70px;
      line-height: 50px;
      z-index: 3;
      color: #f68b1f;
      font-size: 18px;
      font-weight: 700;
      /* transition: 5s; */

    }
    .btn-1:hover .text{
      color: white;
    }
    .testimonials-image{
      height: 690px;
      width: 350px;
      /* background-position: center center; */
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./assect/testimonials-img.jpg);
    }
    .testimonials-content h2{
      font-size: 42px;
      font-weight: 800;
      width: 450px;
      margin-left: 0px;
      text-align: initial;
    }
    .photo{
      display: none;
    }
    .carousel-inner-1 p{
      width: 360px;
      font-size: 15.5px;
      margin-left: 0px;
      text-align: initial
    }
    .device img{
      position: relative;
      left: 10px;
      max-width: 70px;
      border-radius: 70px;
    }
    .device h1{
      position: relative;
      top: 10px;
      left: -4px;
      font-weight: 800;
    }
    .device p {
      position: relative;
      top: 21px;
      right: 45px;
    }
    .form-control{
      height: 52px;
      width: 225px;
    }
    .name{
      margin-top: 145px; 
      gap: 90px;
    }
    .get-start h1{
      position: relative;
      text-align: center;
      font-size: 1.75rem;
      top: 140px;
      font-weight: 800;
    }
    .btn-danger{
      position: absolute;
      left: 470px;
      margin-top: 15px;
      width: 135px;
    }
    .content{
      font-size: 25px;
      font-weight: 800;
    }
    .paragraph p{
      font-size: 16px;
      text-align: justify;
      line-height: 1.8rem;
      font-weight: 400;
    }
    .paragraph-1 p{
      font-size: 16px;
    }
    .about-image img {
      /* max-width: 580px; */
      margin-top: 42px;
    }
  
    .text-white-1 {
      height: 590px;
    }
    .last p{
      margin-left: 200px;
      font-size: 15px;
    }


  

}
@media(min-width: 1200px){
    .logo-img{
        max-width: 256.5px;
        padding: 16px;
        object-fit: contain;
    }
    .carousel-inner img{
      height: 412px;
    }
    .main-banner-content{
      position: relative;
      left: 720px;
      bottom: 397px;
      text-align: initial;
    }
    .main-banner-content h1{
      font-size: 55px;
      font-weight: 800;
      max-width: 468px;
    }
    .carousel-caption {
      position: absolute;
      right: 8%;
      bottom: 20px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
    }
    .carousel-indicators{
      position: absolute;
      bottom: 300px;
    }
    .about-content .sub-title{
      font-size: 16px;
      color: #f68b1f;
      font-weight: 700;
      
      
    }
    .about-content h2{
      font-weight: 700;
      margin-top: 5px;
      font-size: 43px;
    }
    .about-content{
      text-align: initial;
      margin-top: 15px;
      margin-left: 35px;
    }
    .about-content p{
      color: #4b5280;
      font-weight: 500;
      font-size: 17px;
    }
    .about-image img {
      max-width: 580px;
      margin-left: 30px;
    }
    .sub-list li p{
      font-size: 20px;
      font-weight: 600;
    }
    .sub-list li h4{
      font-size: 35px;
      font-weight: 800;
    }
    .sub-list{
      display: flex;
      margin-left: -41px;
    }
    .sub-list .list .number h4{
      position: absolute;
      top: 327px;
      left: 135px;
    }
    .sub-list .list h3{
      position: absolute;
      top: 327px;
      left: 318px;
      font-size: 33px;
      font-weight: 800;
    }
    .sub-list .list h1{
      position: absolute;
      top: 327px;
      left: 533px;
      font-size: 36px;
      font-weight: 800;
    }
    .card-title{
      font-size: 1.25rem;
      font-weight: 800;
    }
    .services h1{
      text-align: center;
      font-size: 42px;
      font-weight: 800;
    }
    .small-title{
      text-align: center;
      color: #f68b1f;
      font-size: 15.5PX;
      font-weight: 700;
      margin-left: 0px;
      }
    .card{
      background-color: #1b1464;
      width: 381px;
      height: 435px;
    }
    .card-body p{
      color: white;
      text-align: justify;
    }
    .btn-1{
      position: relative;
      width: 210px;
      height: 45px;
      border: none;
      left: 65px;
      z-index: 1;
    }
    .circle{
      position: absolute;
      width: 45px;
      height: 44px;
      background: #f68b1f;
      border-radius: 5px;
      left: 4px;
      top: 2px;
      z-index: 2;
      transition: .5s cubic-bezier(1 , 0 , .8 , 1);
    }
    .btn-1:hover .circle{
      width: 200px;
    }
    .fa-arrow-right{
      position: relative;
      top: 10px;
      font-size: 20px;
    }
    .text{
      position: absolute;
      top: -2px;
      left: 70px;
      line-height: 50px;
      z-index: 3;
      color: #f68b1f;
      font-size: 18px;
      font-weight: 700;
      /* transition: 5s; */

    }
    .btn-1:hover .text{
      color: white;
    }
    .testimonials-image{
      height: 690px;
      width: 485px;
      /* background-position: center center; */
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./assect/testimonials-img.jpg);
    }
    .testimonials-content h2{
      font-size: 42px;
      font-weight: 800;
      width: 450px;
      margin-left: 0px;
      margin-top: 15px;
      text-align: initial;
    }
    .photo{
      display: none;
    }
    .carousel-inner-1 p{
      width: 520px;
      font-size: 15.5px;
      text-align: initial;
      margin-left: -2px;
    }
    .device img{
      max-width: 70px;
      border-radius: 70px;
      margin-left: -15px;
    }
    .device h1{
      position: relative;
      top: 10px;
      font-weight: 800;
    }
    .name{
      margin-top: 145px; 
      gap: 30px;
    }
    .device p {
      position: relative;
      top: 13px;
      right: 42px;
    }
    .form-control{
      height: 52px;
      width: 225px;
    }
    .get-start h1{
      position: relative;
      text-align: center;
      font-size: 1.75rem;
      top: 140px;
      font-weight: 800;
    }
    .btn-danger{
      position: absolute;
      left: 615px;
      margin-top: 15px;
      width: 135px;
    }
    .content{
      font-size: 25px;
      font-weight: 800;
    }
    .paragraph p{
      font-size: 16px;
      text-align: justify;
      line-height: 1.8rem;
      font-weight: 400;
    }
    .paragraph-1 p{
      font-size: 16px;
    }
    .text-white-1{
      height: 545px;
      color: white;
    }
    .about-image img {
      max-width: 580px;
      margin-top: -9px;
    }
    .last p{  
      margin-left: 350px;
      font-size: 16px;
    }





    @media(min-width: 1348px){
      .logo-img{
          max-width: 256.5px;
          object-fit: contain;
      }
      .carousel-inner .main-banner-content{
        position: relative;
        left: 720px;
        bottom: 410px;
        text-align: initial;
      }
      .carousel-inner .main-banner-content h1{
        font-size: 56px;
        font-weight: 800;
      }
      .carousel-caption {
        position: absolute;
        right: 8%;
        bottom: 20px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
      }
      .about-image img {
        max-width: 580px;
      }
      .photo{
        display: none;
      }
    }


}
